bin
build
distributions
.classpath
.gradle
.project
.rup
.settings
.springBeans
*.class
*.MF
out
**/target/
**/logs/

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea
**/.ideaDataSources/
/dataSources/
.shelf
