<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean id="eventsStorage" class="com.epam.jmp.spring.core.dao.storage.impl.EventsStorageImpl"/>
    <bean id="userStorage" class="com.epam.jmp.spring.core.dao.storage.impl.UsersStorageImpl"/>
    <bean id="ticketStorage" class="com.epam.jmp.spring.core.dao.storage.impl.TicketsStorageImpl"/>

    <bean id="eventDao" class="com.epam.jmp.spring.core.dao.impl.EventDao" init-method="init">
        <property name="storage" ref="eventsStorage" />
    </bean>
    <bean id="userDao" class="com.epam.jmp.spring.core.dao.impl.UserDao" init-method="init">
        <property name="storage" ref="userStorage" />
    </bean>
    <bean id="ticketDao" class="com.epam.jmp.spring.core.dao.impl.TicketDao" init-method="init">
        <property name="storage" ref="ticketStorage" />
    </bean>

    <bean id="eventService" class="com.epam.jmp.spring.core.service.impl.EventServiceImpl" autowire="byName"/>
    <bean id="userService" class="com.epam.jmp.spring.core.service.impl.UserServiceImpl" autowire="byName"/>
    <bean id="ticketService" class="com.epam.jmp.spring.core.service.impl.TicketServiceImpl" autowire="byName"/>

    <bean id="bookingFacade" class="com.epam.jmp.spring.core.facade.impl.BookingFacadeImpl" autowire="constructor"/>
    <context:annotation-config />
</beans>
